<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body style="background-color: grey">
    <div class="container">
        <form action="{% url 'similarity' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="text" placeholder="Search" name="query" class="form-control" value="{{ old_query }}"/>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <input type="text" value="100" name="k" class="form-control" />
                    </div>
                </div>

                <select class="col-md-2 form-select form-group" aria-label="Default select example">
                    <option selected>Single Query</option>
                    <option value="multiple">Multiple Query</option>
                  </select>

                <div class="col-md">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="container" id="data-container">
        <div class="row">
            {% for node in image_urls %}
            <div class="col-md-3 mb-3" id="video-{{ node.video }}" >
                <div class="card" id="frame-{{ node.frame_id }}">
                    <div onclick='createGetTimeForVideo("{{ node.video }}", "{{ node.frame_id }}")'>
                        <img src="{{ node.url}}" alt="Image" class="card-img-top">
                    </div>  
                    <p style="text-align: center;">{{ node.video }} - {{ node.frame_id }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

<script type="text/javascript">
    
function createVideoModal(video_name, time, array_frame) {
    
    const modal = document.createElement('div');
    modal.classList.add('modal');
    // modal.classList.add('modal-xl');
    modal.style.display = "block";
    const modalDialog = document.createElement('div');
    modalDialog.classList.add('modal-dialog');
    modalDialog.classList.add('modal-xl');

    const modalContent = document.createElement('div');
    modalContent.classList.add('modal-content');
    const modalHead = document.createElement('div');
    modalHead.classList.add('modal-header');

    const headTitle = document.createElement('div');
    headTitle.classList.add("modal-title");
    const click_ptr = document.createElement('div');
    click_ptr.classList.add('btn-primary');
    click_ptr.classList.add('btn');
    click_ptr.innerHTML = "Xem frame";
    click_ptr.onclick = function () {
        let str = `<div>`;
        str += `<p><b>Video: ${video_name}</b></p>`;
        let fps = array_frame[6];
        let currentTime = video.currentTime;
        for (let t = Math.round(currentTime - 2); t < currentTime + 2; t++) {
            if (t < 0 || t > video.duration) {
                continue;
            }
            let min = Math.floor(t / 60);
            let sec = t % 60;
            if (min < 10) {
                min = "0" + min;
            }
            if (sec < 10) {
                sec = "0" + sec;
            }
            str += `<p>Time : ${Math.round(min)} : ${sec} - frameid ${t * fps}</p>`;
        }
        str += `</div>`;
        document.getElementById("my_result").innerHTML = str;
    };
    headTitle.appendChild(click_ptr);
    modalHead.appendChild(headTitle);

    // Create the left and right navigation buttons
    const prevButton = document.createElement("button");
    prevButton.classList.add("btn", "btn-primary", "prev-button");
    prevButton.innerHTML = "&#8249;"; // Left arrow character

    const nextButton = document.createElement("button");
    nextButton.classList.add("btn", "btn-primary", "next-button");
    nextButton.innerHTML = "&#8250;"; // Right arrow character
    modalHead.appendChild(prevButton);
    modalHead.appendChild(nextButton);

    const closeButton = document.createElement('button');
    closeButton.classList.add('btn-close');
    closeButton.addEventListener("click", function () { modal.remove(); });

    modalHead.appendChild(closeButton);
    const modalBody = document.createElement('div');
    modalBody.classList.add('modal-body');
    modalBody.classList.add('row');

    const video = document.createElement('video');
    video.classList.add('col-9');
    video.controls = true;
    // video.style.width = "60%";
    const source = document.createElement('source');
    source.setAttribute("src", `/media/video/${encodeURIComponent(`${video_name}`)}.mp4`);
    source.setAttribute("type", `video/mp4`);
    video.appendChild(source);
    video.currentTime = time;
    modalBody.appendChild(video);
    
    const result = document.createElement('div');
    result.setAttribute("id", "my_result");
    result.classList.add('col-3');

    modalBody.appendChild(result);

    modalContent.appendChild(modalHead);
    modalContent.appendChild(modalBody);
    modalDialog.appendChild(modalContent);
    modal.appendChild(modalDialog);
    document.body.appendChild(modal);
}
function createImageModal(video_name, time, array_frame) {
    
    const modal = document.createElement('div');
    modal.classList.add('modal');
    // modal.classList.add('modal-xl');
    modal.style.display = "block";
    const modalDialog = document.createElement('div');
    modalDialog.classList.add('modal-dialog');
    modalDialog.classList.add('modal-xl');

    const modalContent = document.createElement('div');
    modalContent.classList.add('modal-content');
    const modalHead = document.createElement('div');
    modalHead.classList.add('modal-header');

    const headTitle = document.createElement('div');
    headTitle.classList.add("modal-title");
    const click_ptr = document.createElement('div');
    click_ptr.classList.add('btn-primary');
    click_ptr.classList.add('btn');
    click_ptr.innerHTML = "Xem frame";
    click_ptr.onclick = function () {
        let str = `<div>`;
        str += `<p><b>Video: ${video_name}</b></p>`;
        let fps = array_frame[6];
        let currentTime = video.currentTime;
        for (let t = Math.round(currentTime - 2); t < currentTime + 2; t++) {
            if (t < 0 || t > video.duration) {
                continue;
            }
            let min = Math.floor(t / 60);
            let sec = t % 60;
            if (min < 10) {
                min = "0" + min;
            }
            if (sec < 10) {
                sec = "0" + sec;
            }
            str += `<p>Time : ${Math.round(min)} : ${sec} - frameid ${t * fps}</p>`;
        }
        str += `</div>`;
        document.getElementById("my_result").innerHTML = str;
    };
    headTitle.appendChild(click_ptr);
    modalHead.appendChild(headTitle);

    // Create the left and right navigation buttons
    const prevButton = document.createElement("button");
    prevButton.classList.add("btn", "btn-primary", "prev-button");
    prevButton.innerHTML = "&#8249;"; // Left arrow character

    const nextButton = document.createElement("button");
    nextButton.classList.add("btn", "btn-primary", "next-button");
    nextButton.innerHTML = "&#8250;"; // Right arrow character
    modalHead.appendChild(prevButton);
    modalHead.appendChild(nextButton);

    const closeButton = document.createElement('button');
    closeButton.classList.add('btn-close');
    closeButton.addEventListener("click", function () { modal.remove(); });

    modalHead.appendChild(closeButton);
    const modalBody = document.createElement('div');
    modalBody.classList.add('modal-body');
    modalBody.classList.add('row');

    const video = document.createElement('video');
    video.classList.add('col-9');
    video.controls = true;
    // video.style.width = "60%";
    const source = document.createElement('source');
    source.setAttribute("src", `/media/video/${encodeURIComponent(`${video_name}`)}.mp4`);
    source.setAttribute("type", `video/mp4`);
    video.appendChild(source);
    video.currentTime = time;
    modalBody.appendChild(video);
    
    const result = document.createElement('div');
    result.setAttribute("id", "my_result");
    result.classList.add('col-3');

    modalBody.appendChild(result);

    modalContent.appendChild(modalHead);
    modalContent.appendChild(modalBody);
    modalDialog.appendChild(modalContent);
    modal.appendChild(modalDialog);
    document.body.appendChild(modal);
}

function createGetTimeForVideo(video_name, frame_id){
    fetch(`/media/map-keyframes/${encodeURIComponent(`${video_name}`)}.csv`)
    .then(response => response.text()).then(data => {
        let index = 4 * frame_id + 1;
        let array_frame = data.replaceAll("\n", ",").replaceAll("\r", "").split(",");
        createVideoModal(video_name, array_frame[index], array_frame);
    }).catch(error => console.log(error));
}


</script>

