<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <script src="https://www.youtube.com/iframe_api"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .input-container {
            display: flex;
            align-items: center;
        }

        label {
            margin-right: 10px;
        }
    </style>
</head>

<body style="background-color: grey">
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="container" id="form-container">
                    <div class="row">
                        <div>
                            <p class="text-white">K:</p>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" value="{{ old_k }}" name="k" class="form-control" />
                            </div>
                        </div>
                        <div>
                            <p class="text-white">Group threshold:</p>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" value="{{ old_threshold }}" name="threshold" class="form-control">
                            </div>
                        </div>
                        <select class="col-md-2 form-select form-group" name="filter_by" aria-label="Default select example">
                            <option value ="single" {% if selected_option == 'single' %}selected{% endif %}>Single Query</option>
                            <option value="multiple" {% if selected_option == 'multiple' %}selected{% endif %}>Multiple Query</option>
                        </select>
        
                        <div class="col-md">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary" onclick="addInput()">+</button>
                        </div>
                    </div>
                    {% for old_query, old_weight in old_data%}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" placeholder="Search" name="query[]" class="form-control"
                                    value="{{ old_query }}" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" name="weight[]" class="form-control" value="{{ old_weight }}" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-danger" onclick="removeElement(this)">X</button>
                        </div>
                    </div>
                    {% endfor%}
                    
                </div>
            
            </div>
        </form>
    </div>

    <div class="container" id="data-container">
        <div class="row">
            {% for node in image_urls %}
            <div class="col-md-3 mb-3" id="video-{{ node.video }}">
                <div class="card" id="frame-{{ node.frame_id }}">
                    <div
                        onclick='createGetTimeForVideo("{{ node.video }}", "{{ node.frame_id }}")'>
                        <img src="{{ node.url}}" alt="Image" class="card-img-top">
                    </div>
                    <p style="text-align: center;">{{ node.video }} - {{ node.frame_id }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

<script type="text/javascript">

var tag = document.createElement('script');
tag.id = 'iframe-demo';
tag.src = 'https://www.youtube.com/iframe_api';
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var player;

function addInput() {
    // Create a new text input element
    var newRow = document.createElement('div');
    newRow.classList.add("row");
    var queryCol = document.createElement('div');
    queryCol.classList.add("col-md-8");
    var queryForm = document.createElement('div');
    queryForm.classList.add("form-group");
    var queryInput = document.createElement('input');

    queryInput.type = 'text';
    queryInput.name = 'query[]';
    queryInput.placeholder="Search"
    queryInput.classList.add('form-control');
    queryForm.appendChild(queryInput);
    queryCol.appendChild(queryForm);
    newRow.appendChild(queryCol);

    var weightCol = document.createElement('div');
    weightCol.classList.add('col-md-2');
    var weightForm = document.createElement('div');
    weightForm.classList.add('form-group');
    var weightInput = document.createElement('input');
    weightInput.type='text';
    weightInput.name = 'weight[]';
    weightInput.placeholder='weight';
    weightInput.value=1;
    weightInput.classList.add('form-control');
    weightForm.appendChild(weightInput);
    weightCol.appendChild(weightForm);
    newRow.appendChild(weightCol);

    var removeButtonDiv = document.createElement('div');
    removeButtonDiv.classList.add('col-sm-2');

    var removeButton = document.createElement('button');
    removeButton.type='button';
    removeButton.classList.add('btn');
    removeButton.classList.add('btn-danger');
    removeButton.setAttribute('onclick','removeElement(this)');
    removeButton.innerHTML = 'X';

    removeButtonDiv.appendChild(removeButton);

    newRow.appendChild(removeButtonDiv);

    // <div class="col-sm-2">
    //     <button type="button" class="btn btn-danger" onclick="removeElement(this)">X</button>
    // </div>

    document.getElementById('form-container').appendChild(newRow);
}

function removeElement(button) {
    // Get the parent container and remove it
    var container = button.parentNode.parentNode;
    container.parentNode.removeChild(container);
}

async function createVideoModal(video_name, time, array_frame) {

    const modal = document.createElement('div');
    modal.classList.add('modal');
    // modal.classList.add('modal-xl');
    modal.style.display = "block";
    const modalDialog = document.createElement('div');
    modalDialog.classList.add('modal-dialog');
    modalDialog.classList.add('modal-xl');

    const modalContent = document.createElement('div');
    modalContent.classList.add('modal-content');
    const modalHead = document.createElement('div');
    modalHead.classList.add('modal-header');

    const headTitle = document.createElement('div');
    headTitle.classList.add("modal-title");
    modalHead.appendChild(headTitle);

    const closeButton = document.createElement('button');
    closeButton.classList.add('btn-close');
    closeButton.classList.add('btn-lg');
    closeButton.addEventListener("click", function () { modal.remove(); });

    modalHead.appendChild(closeButton);
    const modalBody = document.createElement('div');
    modalBody.classList.add('modal-body');
    modalBody.classList.add('row');

    var video = document.createElement('div');
    video.classList.add('col-8');
    video.id='youtube-player';
    
    
    let data;
    let response = await fetch(`media/metadata-b1/metadata/${encodeURIComponent(`${video_name}`)}.json`);
    if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
    }
    data = await response.json();
    console.log("data", typeof (data));
    let embed_link = data['watch_url'].split('=')[1];
    let startTime = Math.floor(time);
    console.log(embed_link);

    modalBody.appendChild(video);

    const output_board = document.createElement('div');
    output_board.classList.add('col-4');

    const button_board = document.createElement('div');
    button_board.classList.add('row');
    button_board.classList.add('justify-content-around');
    

    const click_ptr = document.createElement('div');
    click_ptr.classList.add('btn-primary');
    click_ptr.classList.add('btn');
    
    var result_frame_id;
    click_ptr.classList.add('col-4');
    click_ptr.innerHTML = "Xem frame";
    click_ptr.onclick = function () {
        let str = `<div>`;
        str += `<p><b>Video: ${video_name}</b></p>`;
        let fps = array_frame[6];
        
        result_frame_id = fps * Math.round(player.getCurrentTime());
        str += `frameId: ${result_frame_id}`;
        str += `</div>`;
        document.getElementById("my_result").innerHTML = str;
    };
    button_board.appendChild(click_ptr);

    const send_result_button = document.createElement('div');
    send_result_button.classList.add('btn-primary');
    send_result_button.classList.add('btn');
    send_result_button.classList.add('col-4');
    send_result_button.innerHTML = "Send result";
    send_result_button.onclick = function (){
        const baseUrl = 'https://eventretrieval.one/api/v1/submit';
        let queryParams = {
            item: video_name,
            frame: result_frame_id,
            session: "node0w9ojdnboxw1zqmy7he1kyg36288"
        };
        const queryString = new URLSearchParams(queryParams).toString();
        const urlWithParams = `${baseUrl}?${queryString}`;
        fetch(urlWithParams)
            .then((response) => response.json())
            .then((json)=> {
                const jsonString = JSON.stringify(json, null, 2);
                document.getElementById('responseDiv').innerHTML = `<pre>${jsonString}</pre>`;
                console.log(json);
            })
            .catch(error => {
                console.log(error);
                console.log('test error');
            });
    }
    button_board.appendChild(send_result_button);
    output_board.appendChild(button_board);
    // output_board.appendChild(click_ptr);

    const result = document.createElement('div');
    result.setAttribute("id", "my_result");
    result.classList.add('row');

    output_board.appendChild(result);

    const responseDiv = document.createElement('div');
    responseDiv.setAttribute("id", "responseDiv");
    responseDiv.classList.add('row');
    output_board.appendChild(responseDiv);

    modalBody.appendChild(output_board);

    modalContent.appendChild(modalHead);
    modalContent.appendChild(modalBody);
    modalDialog.appendChild(modalContent);
    modal.appendChild(modalDialog);
    document.body.appendChild(modal);
    player = new YT.Player('youtube-player', {
        width :'450',
        height : '350',
        videoId : embed_link,
        playerVars: { 
            'autoplay': 1,
            'controls': 1,
            'origin': 'http://localhost:8000',
            'rel':0,
            'start': startTime
        },
        events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
        }
    });
}

function onPlayerReady(event) {
    console.log('Dynamic Player is ready');
}

function onPlayerStateChange(event) {
    // if (event.data == YT.PlayerState.PLAYING) {
    //     // Start updating current time
    //     setInterval(updateCurrentTime, 1000);
    // }
}

function createGetTimeForVideo(video_name, frame_id) {
    fetch(`/media/map-keyframes/${encodeURIComponent(`${video_name}`)}.csv`)
        .then(response => response.text()).then(data => {
            let index = 4 * frame_id + 1;
            let array_frame = data.replaceAll("\n", ",").replaceAll("\r", "").split(",");
            createVideoModal(video_name, array_frame[index], array_frame);


        }).catch(error => console.log(error));
}


</script>